<!-- Page Header -->
<header class="intro-header" style="background-color:#2C3E50">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Cryptos</h1>
                    <hr class="small">
                    <span class="subheading">Encrypt - Decrypt - And More ...</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" style="text-align:center;">
            <a class="btn btn-cb btn-primary btn-lg" href="/encrypt">
                <i class="fa fa-lock"></i>&nbsp;Encrypt
            </a>
            &nbsp;
            <a class="btn btn-cb btn-primary btn-lg" href="/decrypt">
                <i class="fa fa-unlock"></i>&nbsp;Decrypt
            </a>
        </div>
    </div>
</div>