<!-- Page Header -->
<header class="intro-header" style="background-color:#BA4C63">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Tools</h1>
                    <hr class="small">
                    <span class="subheading">Helpful tool(s)</span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate RSA Keypair</h3> Don't have your keypair? You can generate them here :)
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="key-size">Key size (bit)</label>
                        <select id="key-size" class="form-control">
                            <option>512</option>
                            <option>1024</option>
                            <option>2048</option>
                            <option>3072</option>
                        </select>
                    </div>
                    <button id="btn-generate-keypair" class="btn btn-primary">Generate</button>
                    <div id="keypair-result" style="display:none;">
                        <hr>
                        <div class="form-group">
                            <label>Private Key:</label>
                            <button id="btn-download-private" class="btn btn-default btn-sm pull-right">Download</button>
                            <textarea id="private-key" class="form-control" rows="5" disabled></textarea>
                        </div>
                        <div class="form-group">
                            <label>Public Key:</label>
                            <button id="btn-download-public" class="btn btn-default btn-sm pull-right">Download</button>
                            <textarea id="public-key" class="form-control" rows="5" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Task Information</h3> You have a taskId and want to know its information?
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="task-id">Task ID</label>
                        <input id="task-id" type="text" placeholder="Enter taskId here" class="form-control">
                    </div>
                    <button id="btn-task-info" class="btn btn-primary">See Task's Information</button>
                    <div id="task-information" class="well" style="display:none;">
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Analytic</h3> )(*#)$+!#$#+!$#()
                </div>
                <div class="panel-body">
                    <form class="form-inline" id="query-form">
                        <div class="form-group">
                            <label for="query-algorithm">Algorithm</label>
                            <select type="text" class="form-control" id="query-algorithm" name="algorithm">
                                <option value="des">DES (CBC)</option>
                                <option value="aes-256-cbc">AES-256 (CBC)</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="query-task">Task</label>
                            <select type="text" class="form-control" id="query-task" name="task">
                                <option value="encrypt">Encrypt</option>
                                <option value="decrypt">Decrypt</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="query-compress">Compress</label>
                            <select type="text" class="form-control" id="query-compress" name="compress">
                                <option value="false">False</option>
                                <option value="true">True</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">
                            Analize
                        </button>
                    </form>
                    <div class="checkbox">
                        <label>
                            <input id="query-compare" type="checkbox"> Compare 2 Algorithm?
                        </label>
                    </div>
                    <hr>
                    <canvas id="ana-chart" style="width:100% !important;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/lib/Chart.min.js"></script>
<script type="text/javascript" src="js/lib/Chart.Scatter.min.js"></script>
<script type="text/javascript" src="js/tools.js"></script>